body.Login {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#C3E38C, #4AC13F);
    font-family: 'Roboto', sans-serif;
}

.container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: -20px;
    box-sizing: border-box;
}

.text-section {
    flex: 1;
    text-align: left;
    padding-right: 30px;
}

.text-section h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
    color: #000;
}

.start-button {
    background-color: #7dd87d;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover {
    background-color: #64c864;
}

.image-section {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-background {
    position: absolute;
    width: 130%;
    height: 100%;
    top: -30px;
    right: -21%;
    background-color: #a6e84a;
    border-radius: 60% 0% 60% 50% / 50% 60% 0% 50%;
    z-index: 1;
}

.plate-image {
    position: relative;
    max-width: 90%;
    width: 100%;
    height: auto;
    top: 40px;
    right: -26%;
    z-index: 2;
    border-radius: 0%;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container-home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;

    }

    .text-section {
        padding: 0;
    }

    .image-section {
        margin-top: 40px;
    }

    .plate-image {
        max-width: 60%;
    }

    .green-background {
        width: 60%;
        height: 60%;
        top: 0;
        right: 0;
    }
}